<!DOCTYPE html>
<html>

<head>
    <title>Alibazon</title>
    <link rel=stylesheet type=text/css href=../css/style-product.css>
</head>

<body>
    <%-include('./partials/nav.ejs')%>
    <main>
        <p>
            <small>
                <%
                    for (var k=0;k<navArray.length-1; k++){
                   if(navArray[k].id === 'categories' || navArray[k].id === 'home') { %>
                <a href="/<%=navArray[k].id%>"><%=navArray[k].name%></a> /
                <% } else { %>
                <a href="/categories/<%=navArray[k].id%>"><%=navArray[k].name%></a> /
                <% }} %>
                <a href="/products/productid=<%=navArray[k].id%>"><%=navArray[k].name%></a>
            </small>
        </p>

        <section class=product>
            <img src=" /images/<%=product[0].image_groups[0].images[0].link%>">
            <div class=prod-descr>
                <h3><%=product[0].name%></h3>
                <p><%-product[0].long_description%></p>
                <span>
                    <p>Price: <%=product[0].currency%> <%=product[0].price%></p>
                    <span class='buy-now'><a>Buy now</a></span>
                    <p></p>
                </span>
            </div>
            </div>
        </section>
    </main>
    <%-include('./partials/footer.ejs')%>

</body>

</html>